html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
}

body {
    padding: 20px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(100px);
}

.row {
    background-color: transparent;
}